.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background-color: white;
    margin: 1rem;
    padding: 2rem;
    border-radius: 14px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.05);
    transition: all 0.2s;
}

.card:hover {
    background-color: rgb(244, 255, 241);
    box-shadow: 5px 5px 5px rgba(0,0,0,0.15);
}

.tile {
    display: flex;
    font-size: 1.1rem;
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem;
    background-color: white;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.15);
    cursor: default;
}

.radial-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2.4rem;
}

.radial-button a {
    font-size: 1.1rem;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 26px;
    box-shadow: 0 5px 5px transparent;
    transition: all 0.24s ease-out;
}

.radial-button a i {
    padding-right: 3px;
}

.footer-addr-title {
    margin: 0.5rem 0;
    font-size: 0.95rem;
}

.footer-addr-desc {
    margin-bottom: 1.5rem;
    font-size: 0.8rem;
}