@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background-color: white;
    margin: 1rem;
    padding: 2rem;
    border-radius: 14px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.05);
    transition: all 0.2s;
}

.card:hover {
    background-color: rgb(244, 255, 241);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
}

.tile {
    display: flex;
    font-size: 1.1rem;
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem;
    background-color: white;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
    cursor: default;
}

.radial-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2.4rem;
}

.radial-button a {
    font-size: 1.1rem;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 26px;
    box-shadow: 0 5px 5px transparent;
    transition: all 0.24s ease-out;
}

.radial-button a i {
    padding-right: 3px;
}

.footer-addr-title {
    margin: 0.5rem 0;
    font-size: 0.95rem;
}

.footer-addr-desc {
    margin-bottom: 1.5rem;
    font-size: 0.8rem;
}
