main .main-top {
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-top .top-quote {
    font-size: 1.4rem;
}

.main-top .top-logo {
    width: 8rem;
    height: 8rem;
    background: url(../imgs/logo.jpg);
    background-size: cover;
    mix-blend-mode: multiply;
    margin: 1.5rem 0;
}

.main-top .title {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 3rem;
    padding-left: 0.3rem;
    color:rgb(232, 161, 19);
}

.main-top .slogan {
    font-size: 1.6rem;
    font-weight: 600;
    color:rgb(18, 128, 76);
    position: relative;
    bottom: 1rem;
}

.contactbtn a {
    color: rgb(18, 128, 76);
    border-color: rgb(18, 128, 76);
    padding: 0.6rem 3rem;
}

.contactbtn a:hover {
    background: linear-gradient(45deg, rgb(18, 128, 76), rgb(0, 160, 56));
    color: whitesmoke;
    box-shadow: 0 5px 5px rgba(0,0,0,0.15);
}

.officebtn a {
    color: rgb(91, 117, 247);
    border-color: rgb(91, 117, 247);
    padding: 0.6rem 3.2rem;
}

.officebtn a:hover {
    background: linear-gradient(-45deg, rgb(91, 117, 247), rgb(73, 99, 232));
    color: whitesmoke;
    box-shadow: 0 5px 5px rgba(0,0,0,0.15);
}

.btmarrow {
    display: flex;
    justify-content: right;
}

/* .btmarrow .img {
    width: 3rem;
    height: 3rem;
    background: url(../imgs/bottomarrow.gif);
    background-position: center;
    background-size: contain;
    margin: 3.5rem 2rem 2.5rem 0;
    background-repeat: no-repeat;

} */

#about {
    margin-top: 5rem;
    scroll-behavior: smooth;
}

.headline-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 15vw;
}

.headline-title .s-title {
    font-size: 1rem;
    font-weight: bold;
}

.s-subtitle {
    font-size: 2rem;
    font-weight: bold;
    position: relative;
}

.s-subtitle::before {
    content: '';
    position: absolute;
    top: 0;
    left: -1rem;
    width: 0.6rem;
    height: 2.14rem;
    z-index: 2;
    background-color: rgb(0, 160, 56);
}

.headline-title .s-desc {
    margin: 2.6rem 0;
    font-size: 1.2rem;
    letter-spacing: 0.1px;
}

.headline-title .s-desc .sd-upper {
    display: flex;
    flex-direction: row;
}

.headline-title .s-desc .sd-upper img {
    width: 10rem;
    border-radius: 10px;
}

.headline-title .s-desc .sd-upper p {
    padding-right: 2rem;
}

.person-card {
    width: 14rem;
    height: 16rem;
    margin: 1rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 0 0 35%;
}

.p-name {
    margin: 1rem 0;
    font-size: 1.1rem;
}

.p-name i {
    opacity: 0.7;
    font-size: 0.9rem;
}


.p-contact div {
    margin: 0.4rem;
    font-size: 1.05rem;
}

.p-contact div:nth-child(1) {
    color: rgb(0, 160, 133);
}

.p-contact div:nth-child(2) {
    color: rgb(0, 160, 56);
}

.p-contact div i {
    font-size: 1.1rem;
    padding-right: 0.2rem;
}

#specia {
    margin-top: 3rem;
}

.specia-container {
    margin-top: 3rem;
    width: 75vw;
}

.specia-card {
    flex: 0 0 30%;
    min-width: 15rem;
    cursor: default;
}

.specia-card-icon {
    font-size: 26px;
}

.specia-card .sc-title {
    font-size: 1.1rem;
    margin: 0.5rem 0;
}

.specia-card .sc-desc {
    font-size: 0.9rem;
    font-style: italic;
}

#services {
    margin-top: 5rem;
}

.service-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3rem;
}

.service-card {
    background-color: white;
    position: relative;
    left: -1rem;
    margin: 1rem 0;
    padding: 0.5rem;
    display: flex;
    border-radius: 26px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.05);
    transition: all 0.2s;
    cursor: default;
}

.service-card:hover {
    background-color: rgb(244, 255, 241);
    box-shadow: 5px 5px 5px rgba(0,0,0,0.15);
}

.service-card .sc-icon {
    width: 2rem;
    height: 2rem;
    margin-left: 0.2rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: rgb(0, 160, 56);
}

.service-card .sc-content {
    padding-left: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-right: 1rem;
    font-size: 1.1rem;
}

.fa-star {
    font-size: 16px;
    color: whitesmoke;
}

.env-services {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.es-container {
    width: 90vw;
    margin-top: 2rem;
}

.env-services .es-title {
    font-size: 1.6rem;
    opacity: 0.75;
}

.env-services .es-card {
    flex: 0 0 40%;
    min-width: 26rem;
    border-left: 8px solid rgb(0, 160, 56);
}

.env-services .es-card:hover {
    background-color: rgb(244, 255, 241);
}

.env-services .es-card .card-icon {
    margin-right: 1rem;
    margin-left: 0.5rem;
    font-size: 1.4rem;
}


.mission {
    padding: 0 16vw;
    margin-top: 3rem;
}

.mission .mission-desc {
    margin: 3rem 5rem;
    font-size: 1.3rem;
    font-weight: bold;
}

.mission .mission-desc i {
    font-size: 3rem;
    color: rgb(0, 160, 56);
    padding-right: 0.4rem;
}

/* vision  */

.vision {
    padding: 0 16vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    top: 1rem;
}

.vision .vision-desc {
    width: fit-content;
    margin: 3rem 5rem;
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 5rem;
}

.vision .vision-desc i {
    font-size: 3rem;
    color: rgb(0, 160, 56);
    padding-left: 0.4rem;
}

.achivs-container {
    margin-top: 3rem;
    width: 60vw;
}

.achivs-container div {
    margin: 1.5rem 1rem;
    font-size: 1.2rem;
    padding: 0.6rem 2rem;
    border-left: 5px solid rgb(3, 120, 42);
}

.p-container {
    margin-top: 3rem;
}

#eia, #pollution, #bmw {
    margin-top: 5rem;
}

.bmw-container {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
}