@media only screen and (max-width: 1150px) {
    body {
        background: lightblue;
    }

    nav {
        height: auto;
        flex-direction: column;
        padding: 0.5rem 2rem;
    }

    nav .nav-center .nav-btns {
        margin-top: 1rem;
        flex-wrap: wrap;
        justify-content: center;
    }

    .btmarrow {
        opacity: 0;
    }

    .headline-title {
        padding: 0 10vw;
    }

    .main-top .title {
        font-size: 2rem;
    }

    .main-top .slogan {
        font-size: 1.4rem;
    }
    
    .person-card {
        margin: 1rem 2rem;
    }
}