
@media only screen and (min-width: 120px) and (max-width: 800px) {
    body {
        background: rgb(245, 185, 185);
    }

    .nav-btns .nav-btn {
        margin: 0.3rem 0.8rem;
    }

    .nav-btns .nav-btn a {
        font-size: 0.8rem;
    }


    .main-top .top-quote {
        font-size: 0.9rem;
    }

    .main-top .top-logo {
        width: 4rem;
        height: 4rem;
    }

    .main-top .title {
        font-size: 1.1rem;
    }

    .main-top .slogan {
        font-size: 0.7rem;
    }

    .contactbtn a {
        padding: 0.6rem 1.5rem;
        
    }

    .officebtn a {
        padding: 0.6rem 1.7rem;
    }

    .radial-button a {
        font-size: 0.9rem;
        border-width: 1.2px;
    }

    #about {
        margin-top: 5rem;
    }

    .headline-title {
        padding: 0 5vw;
    }

    .headline-title .s-title {
        font-size: 0.8rem;
    }

    .s-subtitle {
        font-size: 1.05rem;
    }

    .s-subtitle::before {
        height: 1.2rem;
    }

    .headline-title .s-desc {
        font-size: 0.8rem;
    }
    
    .headline-title .s-desc .sd-upper {
        flex-direction: column;
    }

    .headline-title .s-desc .sd-upper p {
        padding: 0;
    }

    .about-img {
        display: flex;
        justify-content: center;
        margin-top: 1.5rem;
    }

    .person-container {
        width: 95vw;
    }

    .person-card {
        margin: auto;
    }
    
    .p-name {
        margin: 0.6rem 0 0.8rem 0;
        font-size: 0.8rem;
    }
    
    .p-name i {
        opacity: 0.7;
        font-size: 0.7rem;
    }
    
    .p-contact div i {
        display: none;
    }

    .p-contact div {
        margin: 0.4rem;
        font-size: 0.8rem;
    }

    .specia-container {
        width: 90vw;
    }

    .specia-card {
        min-width: 40vw;
        margin: 0.5rem auto;
        padding: 1rem;
    }

    .specia-card .sc-title {
        font-size: 0.9rem;
    }

    .specia-card .sc-desc {
        font-size: 0.75rem;
    }

    #services {
        padding: 0 1rem;
        margin-top: 3rem;
        display: flex;
        width: 100vw;
        justify-content: center;
    }

    .service-card {
        background-color: white;
        margin: 0.5rem 0;
        padding: 0.5rem;
        left: 0;
    }

    .service-card .sc-icon {
        display: none;
    }

    .service-card .sc-content {
        font-size: 0.85rem;
    }

    .tile {
        padding: 0.64rem;
    }

    .achivs-container div {
        margin: 0.7rem 0.4rem;
        font-size: 1rem;
        padding: 0.6rem 1rem;
    }
    
    .env-services .es-title {
        font-size: 1.1rem;
    }

    .env-services .es-card {
        min-width: 40vw;
        margin: 1rem auto;
        font-size: 0.85rem;
    }

    .env-services .es-card .card-icon {
        display: none;
    }

    .mission .mission-desc {
        margin: 1.5rem 2rem;
        font-size: 1rem;
    }

    .vision .vision-desc {
        width: fit-content;
        margin: 1.5rem 2rem;
        font-size: 1rem;
        margin-bottom: 5rem;
    }

    .achivs-container {
        width: 90vw;
    }

    .tile {
        font-size: 0.8rem;
    }
    
    .bmw-container {
        font-size: 0.6rem !important;
    }

    #eia, #pollution, #bmw {
        margin-top: 3rem;
    }
    
    .footer-addr {
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 2rem;
    }

    
    .addr1, .addr2 {
        flex: 0 0 90vw;
        margin: 0 2rem;
        padding: 0 1rem;
    }

    .footer-addr-title {
        margin: 0.5rem 0;
        font-size: 1rem;
    }
    
    .footer-addr-desc {
        margin-bottom: 1.5rem;
        font-size: 0.8rem;
    }
}