* {
    padding: 0;
    margin: 0;
    font-family: "Lato", sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100vw;
    overflow-x: hidden;
    background: linear-gradient(45deg, #e5f1dc, #f0f8e9);
    
}

nav {
    display: flex;
    width: 100vw;
    height: 70px;
    background-color: #fff;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.16);
}

nav .nav-left {
    display: flex;
    font-size: 1.2rem;
    align-items: center;
    cursor: default;
}

nav .nav-left .nav-logo {
    width: 3rem;
    height: 3rem;
    background: url(../imgs/logo.jpg);
    background-position: center;
    background-size: cover;
}

nav .nav-left .nav-title {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 1.4rem;
    font-style: italic;
    padding-left: 0.3rem;
}

nav .nav-center .nav-btns {
    display: flex;
    margin-top: 0.5rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.nav-btns .nav-btn {
    margin: 0.8rem;
}

.nav-btns .nav-btn a {
    font-size: 1.1rem;
    position: relative;
    top: 0.05rem;
    text-decoration: none;
    color: rgb(123, 123, 123);
    transition: all 0.2s;
}

.nav-btn a:hover {
    color: rgb(3, 120, 42);
    text-decoration: underline;
}
